.userDashboardInfoSection,
.userDashboardPictureSection {
	border-bottom: 2px solid #ccc;
	boarder-style:none;
}

.round {
    border-color: #062f4f;
    background: #EBEBEB;
    border-style: solid;
    border-width: 5px;

    /* set border roundness */
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.submit-btn {
	margin-bottom: 5px;
}

.userDashboardPictureSection .circle {
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	width: 90%;
	position: relative;
}

.userDashboardPictureSection .circle-border {
	border: 3px solid #336699;
	background-color: #f5f5f5;
}

.userDashboardPictureSection .circle-solid{
	background-color: #f5f5f5;
}

.userDashboardPictureSection .circle:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.userDashboardPictureSection .circle-inner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}

.userDashboardPictureSection .score-text {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 2em;
	line-height: 1em;
	font-size: 1em;
}

.userDashboardPictureSection  .score-text {
height: 5vw;
line-height: 3vw;
font-size: 3vw;
}

.userDashboardCheckbox li {
    display: block;
    float: left;
    width: 33%;
}

.userDashboardInterests li {
    display: block;
    float: left;
    width: 20%;
}