

.panel-default > .panel-heading {
  background-color: #264691;
  color: white;
  font-size: 120%;
}



.box {
  background-color: #E5B919;
  height: 300px;
  width: 300px;
  border-style: solid;
  border-width: 15px;
  padding: 10px;
  border-color: white;
}

.transform {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
}

.transform-active {
  background-color: #264691;
  color: white;
  height: 300px;
  width: 300px;
  padding: 10px;
  border-width: 15px;
  border-style: solid;
  border-color: black;
}

#box1 {

}
#box2 {

}
#box3 {
float: right;
}
p#merchant1 {
  font-size: 60%;

}
ul#merchant2 {
display: none;
font-size: 60%;
}
p#volunteer1 {
font-size: 60%;
}
ul#volunteer2 {
display: none;
font-size: 60%;
}
p#organization1 {

}
ul#organization2 {
display: none;
}

#foot_main {
  padding-top: 2%;
  background-size: cover;
}
 ul li {
  list-style-type: none;
  font-size: 18px;
}
a {
  color: red; 

}


